.App {
	background-color: rgb(250, 250, 250);
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #3e49a5;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	margin-bottom: 4em;
}

.App-link {
	color: #3e49a5;
}
